.create-comment-box2 {
  display          : block;
  box-sizing       : border-box;
  width            : 100%;
  height           : 22px;
  height           : 22px;
  margin-bottom    : 10px;
  padding          : 0;
  color            : #f2f2f2;
  overflow         : hidden;
  border           : none;
  border-radius    : 4px;
  background       : 0 0;
  background-color : #2C2F34;
  outline          : 0;
  box-shadow       : inset 0 1px 1px rgba(0,0,0,.1);
  box-shadow       : none;
  font-family      : inherit;
  font-size        : 15px;
  font-weight      : bolder;
  line-height      : 1.5em;
  letter-spacing   : .02em;
  resize           : none;
}

.santeria {
  display         : flex;
  position        : absolute;
  left            : -45px;
  padding         : 0 10px;
  flex-direction  : column;
  justify-content : center;
}

.comment-votes {
  display  : flex;
  position : absolute;
}

.vote-arrow {
  width  : 30px;
  height : 30px;
}

.child {
  margin : 9px 0;
}

.child > .comment-index-container {
  display         : flex;
  justify-content : flex-end;
}

.child > .comment-index-container > .comment-index {
  width : 95%;
}

.create-comment-box {
  position        : absolute;
  top             : 0px;
  left            : -9999px;
  width           : 694px;
  height          : 0px;
  overflow-y      : hidden;
  text-decoration : none solid rgb(242, 242, 242);
  line-height     : 22.5px;
  letter-spacing  : 0.3px;
  resize          : none;
}

.comment-gradient-wrapper {
  height              : 1px;
  margin-bottom       : 7px;
  backface-visibility : visible;
  perspective         : 178px;
  perspective         : 180px;
  perspective-origin  : 50%;
}

.comment-gradient {
  display    : block;
  position   : absolute;
  right      : 18px;
  bottom     : -11px;
  left       : 18px;
  height     : 21px;
  background : linear-gradient(
                 to top,
                 #141518,
                 #282a2e
               );
  transform  : rotateX(-45deg);
}

.comment-reply-icon {
  display          : flex;
  box-sizing       : border-box;
  position         : relative;
  top              : 0;
  right            : 0;
  min-width        : 56px;
  height           : inherit;
  color            : #a8a8a2;
  border-radius    : 0 6px 6px 0;
  background-color : #595a5b;
  align-content    : center;
  font-family      : 'Open sans',
                     sans-serif;
  font-size        : 14px;
  font-weight      : bold;
  justify-content  : center;
  cursor           : pointer;
}

.new-comment-form {
  display        : flex;
  position       : relative;
  width          : 694px;
  height         : 68px;
  margin-top     : 20px;
  margin-bottom  : 20px;
  padding        : 15px;
  padding        : 15px;
  border         : 2px solid #53555b;
  border-radius  : 4px;
  background     : #2C2F34;
  flex-direction : column;
  cursor         : text;
}

.user {
  display       : flex;
  margin-bottom : 4px;
  color         : #bbb;
  font-size     : 11px;
}

.post-comments-container {
  position   : relative;
  width      : 728px;
  margin-top : 20px;
}

.summary {
  height      : 36px;
  color       : #8a8a8a;
  font-size   : 12px;
  line-height : 60px;
}

.right {
  float : right;
}

.btn-main {
  background : #1bb76e;
}

.post-button {
  display         : inline-block;
  padding         : 10px 25px;
  color           : #F2F2F2;
  border          : none;
  border-radius   : 2px;
  background      : #1bb76e;
  outline         : 0;
  text-decoration : none;
  font-family     : 'Open Sans',
                    sans-serif;
  font-size       : 14px;
  cursor          : pointer;
}

.btn {
  display         : inline-block;
  padding         : 10px 25px;
  color           : #F2F2F2;
  border          : none;
  border-radius   : 2px;
  outline         : 0;
  text-decoration : none;
  font-family     : 'Open Sans',
                    sans-serif;
  font-size       : 14px;
  cursor          : pointer;
}

form.caption-create {
  position      : relative;
  padding       : 15px;
  border        : 2px solid #53555b;
  border-radius : 4px;
  background    : #2C2F34;
  cursor        : text;
}

// Comments styling

.comment-create-reply {
  display       : none;
  position      : absolute;
  top           : 0;
  right         : 0;
  width         : 56px;
  height        : 100%;
  border-radius : 0 6px 6px 0;
  background    : #4a4c51;
  text-align    : center;
  cursor        : pointer;
}

.comment-username {
  display        : inline-block;
  color          : #bbb!important;
  vertical-align : text-top;
  font-weight    : 700;
}

.caption-create-username,
.comment-username {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

a {
  text-decoration : none;
}

.comment {
  display         : flex;
  margin          : 3px;
  border-radius   : 5px;
  background      : #2c2F34;
  justify-content : space-between;
}

.comment-info {
  display        : flex;
  margin         : 7px 7px 7px 17px;
  flex-direction : column;
}

.comment-body {
  font-size   : 12px;
  line-height : 20px;
}

.replies-icon {
  display     : block;
  position    : relative;
  top         : 4px;
  margin      : 0 0 10px 15px;
  color       : #bbb;
  font-size   : 11px;
  font-weight : 700;
}

.reply-icon {
  display     : block;
  position    : relative;
  top         : 2px;
  margin      : auto;
  color       : #bbb;
  text-align  : left;
  font-size   : 11px;
  font-weight : 700;
}

.comment-replies {
  display     : block;
  margin-left : 7%;
  align-self  : flex-end;
}

.spacer {
  margin-left : 18px;
}

.sm-spacer {
  margin-left : 3px;
}

.post-footer {
  display         : flex;
  margin-top      : 20px;
  justify-content : space-between;
}
