.create-comment-box2 {
  display          : block;
  box-sizing       : border-box;
  width            : 100%;
  height           : 22px;
  height           : 22px;
  margin-bottom    : 10px;
  padding          : 0;
  color            : #f2f2f2;
  overflow         : hidden;
  border           : none;
  border-radius    : 4px;
  background       : 0 0;
  background-color : #2C2F34;
  outline          : 0;
  box-shadow       : inset 0 1px 1px rgba(0,0,0,.1);
  font-family      : inherit;
  font-size        : 15px;
  line-height      : 1.5em;
  letter-spacing   : .02em;
  resize           : none;
  box-shadow: none;
  font-weight: bolder;
}
.create-comment-box {
  position        : absolute;
  top             : 0px;
  left            : -9999px;
  width           : 694px;
  height          : 0px;
  overflow-y      : hidden;
  text-decoration : none solid rgb(242, 242, 242);
  line-height     : 22.5px;
  letter-spacing  : 0.3px;
  resize          : none;
}

.comment-reply-icon {
  display : none;
}

.child:hover .comment-reply-icon {
  font-family: 'Open sans', sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 0;
  right: 0;
  width: 70px;
  color: #a8a8a2;
  height: inherit;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  background-color: #595a5b;
  font-weight: bold;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  width: 694px;
  height: 68px;
  padding: 15px;
  background: #2C2F34;
  position: relative;
  padding: 15px;
  border: 2px solid #53555b;
  border-radius: 4px;
  cursor: text;
  margin-top: 20px;
  margin-bottom: 20px;
}

.author {
  display: flex;
  margin-bottom : 4px;
  color         : #bbb;
  font-size     : 11px;
}

.post-comments-container {
  position   : relative;
  width      : 728px;
  margin-top : 20px;
}



.summary {
  height      : 36px;
  color       : #8a8a8a;
  font-size   : 12px;
  line-height : 60px;
}



.right {
  float : right;
}

.btn-main {
  background : #1bb76e;
}

.btn {
  padding : 10px 25px;
}


.post-button{
  padding : 10px 25px;
  display             : inline-block;
  color               : #F2F2F2;
  border              : none;
  border-radius       : 2px;
  outline             : 0;
  text-decoration     : none;
  font-family         : 'Open Sans',
                        sans-serif;
  font-size           : 14px;
  -webkit-user-select : none;
  user-select         : none;
  cursor              : pointer;
  background : #1bb76e;

}

.btn,
.btn-large,
.btn-small {
  display             : inline-block;
  color               : #F2F2F2;
  border              : none;
  border-radius       : 2px;
  outline             : 0;
  text-decoration     : none;
  font-family         : 'Open Sans',
                        sans-serif;
  font-size           : 14px;
  -webkit-user-select : none;
  user-select         : none;
  cursor              : pointer;
}



form.caption-create {
  position      : relative;
  padding       : 15px;
  border        : 2px solid #53555b;
  border-radius : 4px;
  background    : #2C2F34;
  cursor        : text;
}

// Comments styling

.caption {
  max-height : 999px;
}

.caption,
.comment-votes.touch,
.comment-votes:hover {
  opacity : 1;
}

.caption {
  position      : relative;
  margin-bottom : 12px;
}

#captions .comment[data-level="0"]>.caption .comment-user-name {
  border-radius : 6px 6px 6px 0;
}

#captions .comment-user-name {
  position      : relative;
  padding       : 9px 12px 11px 15px;
  border-radius : 0 6px 6px;
  background    : #2c2f34;
  line-height   : 16px;
}

#captions .comment[data-level="0"]>.caption .comment-user-name {
  border-radius : 6px 6px 6px 0;
}

#captions .comment-user-name {
  position      : relative;
  padding       : 9px 12px 11px 15px;
  border-radius : 0 6px 6px;
  background    : #2c2f34;
  line-height   : 16px;
}

#captions .comment-user-name>span {
  display       : inherit;
  padding-right : 50px;
  overflow      : hidden;
  line-height   : 20px;
}

.comment-create-reply {
  display       : none;
  position      : absolute;
  top           : 0;
  right         : 0;
  width         : 56px;
  height        : 100%;
  border-radius : 0 6px 6px 0;
  background    : #4a4c51;
  text-align    : center;
  cursor        : pointer;
}

.cf:after,
.cf:before {
  content : " ";
  display : table;
}

.comment-votes {
  position : absolute;
  top      : 0;
  left     : -55px;
  padding  : 3px 20px 20px 10px;
  opacity  : 0;
}

.caption {
  max-height : 999px;
}

.caption,
.comment-votes.touch,
.comment-votes:hover {
  opacity : 1;
}

.caption {
  position      : relative;
  margin-bottom : 12px;
}

.comment[data-level="0"]>.caption .comment-username {
  max-width : 478px;
}

a:active,
a:visited,
a strong {
  color           : #7789ff;
  text-decoration : none;
}

.comment-username {
  display        : inline-block;
  color          : #bbb!important;
  vertical-align : text-top;
  font-weight    : 700;
}

.caption-create-username,
.comment-username {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

a {
  text-decoration : none;
}

.comment {
  margin: 3px;
  padding: 7px 7px 7px 17px;
  border-radius: 5px;
  background: #2c2F34;
  display: flex;
  justify-content: space-between;
}

.comment-body {
  line-height : 20px;
}

.replies-icon {
  font-size: 11px;
  font-weight: 700;
  margin: 0 0 10px 15px;
  color: #bbb;
  position: relative;
  top: 4px;
  display: block;
}

.reply-icon {
  display: block;
  text-align: left;
  font-size: 11px;
  font-weight: 700;
  margin: auto;
  color: #bbb;
  position: relative;
  top: 2px;
}



.comment-replies {
  align-self: flex-end;
margin-left: 7%;
display: block;
}

.spacer{
  margin-left: 18px;
}

.sm-spacer {
  margin-left: 3px;
}

.post-footer {
  display: flex;
  margin-top: 20px;
}
