/* Dropdown Button */

/* Dropdown button on hover & focus */

.dropbtn:focus,
.dropbtn:hover {
  border-radius    : 9px;
  background-color : #3e8e41;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  display  : inline-block;
  position : relative;
}

#myDropdown {
  position      : absolute;
  top           : 31px;
  left          : -136px;
  border-radius : 5px;
}

#myMenuDropdown {
  position      : absolute;
  top           : 31px;
  left          : -148px;
  width         : 100px;
  border-radius : 5px;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  // display: none;
  z-index          : 1;
  position         : absolute;
  min-width        : 160px;
  background-color : #f9f9f9;
  box-shadow       : 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#myMenuDropdown .dropdown-content {
  // display: none;
  z-index          : 1;
  position         : absolute;
  min-width        : 130px;
  background-color : #f9f9f9;
  box-shadow       : 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */

.dropdown-content a {
  display         : block;
  padding         : 12px 16px;
  color           : black;
  text-decoration : none;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color : #f1f1f1;
}




.navbar-container *{
  position: relative;
}

.search-input:focus {
  border : none;
}

/**
 * Show the dropdown menu (use JS to add this class to the
 * .dropdown-content container when the user clicks on the dropdown
 * button)
 */

.show {
  display : block;
}
