.image-index-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin: 8px 4px;
  background-color: #181817;
  line-height: 0;
}

div.gallery div.image-index-item {
  width: 180px;
  height: 180px;
}

div.user div.image-index-item {
  width: 150px;
  height: 150px;
}

.index-no-overflow {
  height: inherit;
  width: inherit;
}

div.gallery div.image-list-link {}

.image-list-link {
  width: 200px;
  height: 200px;
  object-fit: fill;
  overflow: hidden;
  outline: #121211 solid 1px;
  outline-offset: -1px;
}

div.user div.image-list-link {
  width: 100px;
  height: 100px;
}

.index-no-overflow {
  height: inherit;
  width: inherit;
}

.five-three {
  width: 53%;
}

.top-90 {
  top: 90px;
}

.post-index-container {
  border-radius: 5px;
  padding: 10px;
  background-color: #34373c;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
