.image-index-item {
  display          : inline-block;
  box-sizing       : border-box;
  position         : relative;
  width            : 200px;
  height           : 200px;
  margin           : 8px 4px;
  background-color : #181817;
  line-height      : 0;
}

.index-no-overflow {
  height: inherit;
  width: inherit;
}

.image-list-link {
  width          : 200px;
  height         : 200px;
  object-fit: fill;
  overflow       : hidden;
  outline        : #121211 solid 1px;
  outline-offset : -1px;
}


.post-index-container {
  top: 90px;
  width: 57%;
  border-radius: 15px;
  padding: 10px;
  background-color: #34373c;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.try {
  display          : flex;
  position         : relative;
  top              : 90px;
  width            : 50%;
  margin           : 0 auto;
  padding          : 10px 0;
  border-radius    : 15px;
  background-color : #34373c;
  flex-wrap        : wrap;
  justify-content  : space-around;
}
