.modal-background {
  z-index          : 3;
  display          : flex;
  position         : fixed;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0,0,0,.45);
  align-content    : center;
  justify-content  : center;
}

.all-pictures {
  color: black;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.new-post-text{
height: 32px;
color: grey;
background-color: #191919;
outline: 0;
border: 1px solid transparent;
font-size: 14px;
letter-spacing: .0252;
padding: 5px 10px;
margin: 4px 0;
border-radius: 5px;
box-sizing: border-box;
background: #212121;
}

.bigger{
  height: 80px;
}

.modal-content {
  display          : flex;
  margin           : auto auto;
  opacity          : 1;
  border-radius    : 5px;
  background-color : #45484f;
  box-shadow       : 0 5px 15px 0 rgba(0,0,0,.5);
  align-content    : center;
}

#image-preview-selected {
  border: #1BB76E 4px solid;
  height: 350px;
  width: auto;
}

.modal-content div {
  color : black;
}

.drag-and-drop-text {
  display         : flex;
  width           : 420px;
  color           : #f2f2f2;
  align-items     : baseline;
  justify-content : center;
}

.nodisplay {
  display : none;
}

.draggable{
  box-sizing: border-box;
  padding: 50px;
}
.drag-and-drop-box {
  position      : relative;
  width         : 500px;
  height        : 300px;
  margin        : 0 auto;
  border-radius : 5px;
  align-self    : center;
  text-align: center;
}

.draggable p{
  font-size: xx-large;
}

.upload-form {
  display: flex;
  flex-direction: column;
      justify-content: center;
      border-radius: 7px;
      max-width: 600px;
}

.uploadForm {
  display: flex;
  flex-direction: column;
      justify-content: center;
      border-radius: 7px;
      max-width: 600px;
}

.uploadForm img{
  margin: 5px;
  object-fit: cover;
}

.uploadForm img:nth-of-type(n + 1){
  height: 300px;
  width: 300px;
}
.uploadForm img:nth-of-type(n + 2){
  height: 270px;
  width: 270px;
}

.uploadForm img:nth-of-type(n + 3){
  height: 230px;
  width: 230px;
}

.uploadForm img:nth-of-type(n + 4){
  height: 180px;
  width: 180px;
}



.uploadModal {
  display         : flex;
  width           : 100%;
  flex-direction  : column;
  justify-content : center;
}

.upload-actions {
  width           : 420px;
  margin          : 85px auto 0;
  justify-content : center;
}

.upload-giraffe {
  position   : absolute;
  top        : -15px;
  right      : -20px;
  width      : 75px;
  box-shadow : 6px 6px 13px rgba(0,0,0,.4);
}

.upload-pointer {
  position : absolute;
  top      : 28px;
  right    : -14px;
  width    : 14px;
}

.browse-btn {
  display          : inline-block;
  margin           : 0 5px;
  padding          : 4px 15px;
  color            : #333;
  border-radius    : 3px;
  background-image : linear-gradient(
                       to bottom,
                       #e0e0e0,
                       #b7b7b7
                     );
  box-shadow       : 0 2px 4px 0 rgba(0,0,0,.5);
}


.buttom-stuff a {
  display    : inline-block;
  box-sizing : border-box;
  height     : 85px;
  padding    : 35px;
  color      : #f2f2f2;
  text-align : center;
  font-size  : 12px;
  cursor     : pointer;
}

.buttom-stuff {
  position         : absolute;
  right            : 0;
  bottom           : 0;
  left             : 0;
  background-color : #2c2f34;
  text-align       : center;
}

.upload-modal-terms {
  position  : absolute;
  bottom    : -55px;
  left      : 50%;
  width     : 100%;
  color     : #e2e5ea;
  font-size : 13px;
}

.paste-url #paste-url-input {
  box-sizing       : border-box;
  width            : 100%;
  padding          : 12px;
  color            : #696969;
  border           : 1px solid rgba(255,255,255,.38);
  border-radius    : 5px;
  background-color : #45484f;
  outline          : 0;
  box-shadow       : inset 0 2px 6px 0 rgba(0,0,0,.26);
  text-align       : center;
  font-size        : 14px;
}
