.navbar-container{
  width: 100%;
  background-color: #34373c;
  height: 50px;
  z-index: 100;
  position: relative;
  top: 0;
  display: inline-flex;
  align-content: center;
  margin: 0;
}

.navbar-container *{
  color: white;
}

.logo-menu-combo {
  display: flex;
}
#topbar {
    width: 58%;
    background-color: #34373c;
    font-size: 15px;
    height: 50px;
    z-index: 100;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.link-menu{
  display: flex;
  align-self: center;
}

.right-side {
  width: 27%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}


.logo-icon {
  background: url(https://s3.us-east-2.amazonaws.com/imgirbucket-dev/images/images/logo-2.png) center center no-repeat;
  width: 72px;
  height: 46px;
  background-size: contain;
  margin: auto 12px;
}

.hoverable:hover{
  background: #50545c;
  border-radius: 12px;
}


.upload-button {
  display: flex;
  width: inherit;
  justify-content: space-around;
  align-self: center;
  font-size: 14px;
}
.link-menu i{
  align-self: center;
  padding: auto 0;
}

.upload-button-container {
  position: relative;
    display: flex;
    width: 160px;
    margin: 9px 0px 9px 20px;
    border-radius: 4px;
    border: 1px solid #1bb76e;
    background: #1bb76e;
    cursor: pointer;
    padding: 0;
    vertical-align: baseline;
}

//
.left-side {
  margin: auto 0;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
}
.user-nav {
  align-self: center;
  align-content: center;
}

.left-side ul li {
  margin: 0;
  list-style: none;
    display: inline-flex;
    user-select: none;
    padding: 0;
    // position: relative;
}

.navlink-btn {
  margin: auto 20px;
  text-decoration: none;
}

.user-nav, #global-search-container{

  padding: 0 15px;
  color: #f2f2f2;
}

.signin-link{
  align-content: center;
  margin: 5px 10px;
  padding: 5px 0;
  height: 25px;
}
.signin-link:hover{
  background: #50545c;
  border-radius: 6px;
}

#global-search-container:hover{
  background: #50545c;
  border-radius: 15px;
  height: 30px;
  padding-top: 5px;
  margin-bottom: 5px;
}

hoverable i {
  border-radius: 4px;
}
