.post-index-container {
  top: 90px;
  width: 70%;
  border-radius: 15px;
  padding: 10px 0;
  background-color: #34373c;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
};


.gridList {
  width: 80%;
  height: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 20px auto;
};



.grid-tile-object{
  display: none;
}
.post-index-container img{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.grid-tile-object:hover{
  height: 100px;
  width: 100%;
  display: block;
}

.post-index-item{
  width: 100%;
}

.post-info{
  padding: 0;
  height: 134px;
  position: relative;
  bottom: 60px;
  z-index: 4;
}

.post-info-border{
  border: 1px solid grey;
  box-shadow: 0 2px 5px #000;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.post-info-votes{
  display: flex;
  justify-content: space-around;
      background: linear-gradient(to bottom,transparent,#000);
}

.post-info-details{
  border: 2px solid #444442;
  padding: 7%;
width: 120%;
z-index: 2;
background-color: #121211;
top: 101%;
margin-left: -19%;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-shadow: 0 2px 5px #000;
-moz-box-shadow: 0 2px 5px #000;
box-shadow: 0 2px 5px #000;
text-align: left;
}
.post-info-details p{
  line-height: 1.5em;
color: #fff;
max-height: 11em;
padding: 0;
letter-spacing: .03em;
margin-bottom: 27px;
}
.post-info-tags{
  width: 100%;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #34373c;
  display: flex;
  justify-content: space-around;
}

.post-container{
  margin: 0 auto;
  padding-top: 0px;
  width: 728px;
  border-radius: 5px;

}
.post-header{
  box-sizing: border-box;
  width: 728px;
  padding: 20px;
  background: #2c2f34;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  position: relative;
}
.post-description{
  box-sizing: border-box;
  width: 728px;
  min-height: 100px;
  padding: 20px;
  background: #2c2f34;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
  position: relative;
}


.post-title{
  color: #f2f2f2;
  font-size: 18px;
  line-height: normal;
  text-shadow: none;
  overflow: hidden;
  outline: 0;
  display: block;
  font-weight: 400;
  max-height: 154px;
  word-wrap: break-word;
}
// font-weight: bold: padding: 0;
.post-author-link {
  color: #BBB;
  font-size: 12px;
  max-height: 18px;
  line-height: 18px;
  max-width: 294px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
  display: inline-block;
  overflow: hidden;
  color: #BBB;
  font-weight: 700;
}



.post-images{
  border-radius: 0 0 4px 4px;
  background-color: #2c2f34;
}
.post-images img{
  width: 100%;
  cursor: zoom-in;
}

.show-page{
  display: flex;
  width: 80%;
}

.post-comments-container{

}

.pointer{

}
.arrows{
  margin: auto 0;
}
// .arrow-up{
//   padding: 7px;
// float: left;
// font-size: 14px;
// color: #ccc;
// }
.icon-upvote-outline{}
