.search-bar {
  padding: 4px;
  display  : inline-block;
  position : relative;
}

#mySearchBar {
  top              : 0px;
  right            : 32px;
  width            : 500px;
  height           : 88px;
  border-radius    : 3px;
  background-color : #50545c;
  // background-color: white;
}

.search-bar {
  background-color: #50545c;
  outline: none;
  border: 1px transparent;
  width: 443px;
  height: 48px;
  border-bottom: 3px solid #1bb76e;
  color: white;
  position: relative;;
}
.search-bar-addition {
  border-bottom: none;
  display: flex;
  color: white;
  min-height: 48px;
  max-height: 600px;
  overflow: auto;
  height: auto;
  flex-direction: column;
  font-weight: lighter;
  font-size: 9px;
  position: absolute;
}

.search-input {
  width            : 487px;
  height           : 42px;
  margin           : 0 5px;
  border           : none;
  background-color : transparent;
  transition: border .1s ease-in

}

#search-icon-menu{
  position: absolute;
  top: 31px;
  left: -413px;
}

.search-item {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 8px;
  height: 80px;
}

.search-item-pic {
  max-width: 90px;
  max-height: 90px;
}

.search-item-info {

}
.side-bar-items{
  border-radius: 15px;
  overflow-y: scroll hidden;
  border: 0;
  margin: 0;
  padding: 0;
}


.search-item-pic img{
  height: 90px;
  width: 90px;
  object-fit: cover;
  overflow: hidden;

}
