.side-bar{
  position: relative;
  height: 410px;
  box-sizing: border-box;
  overflow: hidden;
}

.side-bar-items{
  overflow-y: scroll hidden;
  box-sizing: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}
.side-bar-item{
  width: 300px;
  padding: 8px;
  margin-bottom: 4px;
  height: 80px;

}
.side-bar-item img{
  height: 80px;
  width: 113px;
  margin: -8px 0 -8px -8px;
}

::-webkit-scrollbar {
    display: none;
}
