.side-bar{
  position: absolute;
  top: 17%;
  right: 17%;
  height: 400px;
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(to bottom,transparent,#000)
}

.side-bar-items{
  border-radius: 15px;
  overflow-y: scroll hidden;
  border: 0;
  margin: 0;
  padding: 0;
}

.side-bar-item-pic {
  max-width: 90px;
  max-height: 90px;

}
.side-bar-item-pic img{
  margin: auto;
  height: 80px;
  width: 80px;

}

.side-bar-item{
  border-radius: 5px;
  background: #34373c;
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 8px;
  margin: 5px 20px;
  height: 80px;
}

.side-bar-item-info {
  width: 210px;
}

.side-bar-item-info p{
  word-wrap: break-word;
  font-size: 15px;
  color: white;
  margin-left: 20px;
}


::-webkit-scrollbar {
    display: none;
}
