.user-page {
  top: 10px;
  width: 57%;
  border-radius: 15px;
  position: relative;
  display: flex;
  margin: 10px auto 0;
  min-height: 150px;
  justify-content: space-around;
}

.user-comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 63%;
  padding: 20px 5px;
  border-radius: 4px;
  background-color: #34373c;
  height: 70vh;
}

.user-side-bar {
  top: 90px;
  border-radius: 15px;
  // background-color: #34373c;
  height: 70vh;
  width: 35%;
}

.user-info-item {
  border-radius: 5px;
  display: flex;
  padding: 8px;
  margin: 15px 0;
  height: 80px;
}

.user-info-item img {
  height: 80px;
    width: 80px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 20px;
}

.user-info-item-pic {

}

.user-info-item-info {
  color: white;
}



.panel-header-toolbox {
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #141518;
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.user-info {
  height: auto;
}
.display {
  margin: 0 auto;
  overflow: auto;
  height: 80%;
  width: 90%;
  padding: 10px;
}

.left-side {}

.right-side {}

.panel {
  padding: 25px;
  background-color: #34373c;
  margin: 0 0 10px 0;
  min-height: 50px;
}
// .selected{
//   border-bottom: 18px solid transparent;
// border-right: 14px solid #181817;
// border-top: 18px solid transparent;
// height: 0;
// left: -14px;
// position: absolute;
// top: 0;
// width: 0;
// }

.textbox {
  color: white;
  background-color: #141518;
  padding: 10px;
  margin: 4.5px;
}

.selected {
  color: #1bb76e;
}

.user-info-picker {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-info-bio {}

.user-info-Notoriety {}

.user-info-trophy {}
