.user-page {
  display         : flex;
  position        : relative;
  top             : 10px;
  width           : 57%;
  min-height      : 150px;
  margin          : 10px auto 0;
  border-radius   : 15px;
  justify-content : space-around;
}

.user-comments {
  display          : flex;
  width            : 63%;
  height           : 70vh;
  padding          : 20px 5px;
  border-radius    : 4px;
  background-color : #34373c;
  flex-direction   : column;
  justify-content  : center;
}

.notoriety-list {
  height         : 0;
  overflow       : hidden;
  font-size      : 14px;
  line-height    : 15px;
  letter-spacing : 1px;
  transition     : height 0.3s ease;
}

.open {
  display : block;
  height  : 245px;
}

.notoriety-list td {
  padding       : 2px;
  border-bottom : 2px solid #222;
}

.stat {
  color          : #AFD8F8;
  vertical-align : top;
  font-weight    : 700;
}

.left-end {
  text-align : end;
}

.user-side-bar {
  top           : 90px;
  width         : 35%;
  height        : 70vh;
  border-radius : 15px;
}

.user-info-item {
  display       : flex;
  height        : 80px;
  margin        : 15px 0;
  padding       : 8px;
  border-radius : 5px;
}

.user-info-item img {
  width        : 80px;
  height       : 80px;
  margin-right : 20px;
  overflow     : hidden;
  object-fit   : cover;
}

.user-info-item-info {
  color    : white;
  overflow : hidden;
}

.panel-header-toolbox {
  display          : flex;
  width            : 90%;
  margin           : 0 auto 5px;
  padding          : 10px;
  background-color : #141518;
  justify-content  : space-between;
}

.user-info {
  height : auto;
}

.display {
  width    : 90%;
  height   : 80%;
  margin   : 0 auto;
  padding  : 10px;
  overflow : auto;
}

.panel {
  min-height       : 50px;
  margin           : 0 0 10px;
  padding          : 10px;
  border-radius    : 5px;
  background-color : #34373c;
}

.textbox {
  margin           : 4.5px;
  padding          : 10px;
  color            : white;
  background-color : #141518;
}

.close {
  padding : 0;
}

.blue {
  color : #4E76C9;
}

.selected {
  color : #1bb76e;
}

.user-info-picker {
  display         : flex;
  padding         : 25px;
  flex-direction  : column;
  justify-content : space-around;
}

.notoriety {
  display : flex;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}
