/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 //
 // @import "components/login_buttons.css";
 // @import "components/login_style.css";

@import "components/*";

 body {
   font-family: 'Open Sans',sans-serif;
   color: #f2f2f2;
   height: 100%;
   margin: 0;
   font-size: 14px;
 }

 body, html {
  background-color: #141518;
}

.full-width {
 background-size: cover;
 background-position: center center;
 opacity: .35;
 width: 100%;
 height: 100%;
 z-index: 1;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
