/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Open Sans',sans-serif;
   color: #f2f2f2;
   height: 100%;
   margin: 0;
   font-size: 14px;
 }

 body, html {
  background-color: #141518;
}

.full-width {
 background-size: cover;
 background-position: center center;
 opacity: .35;
 width: 100%;
 height: 100%;
 z-index: 1;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.signin-container {
  position: relative;
  width: 350px;
  padding-top: 80px;
  margin: auto;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.signin-logo {
  position: relative;
  display: block;
  margin: 0 auto 2px;
  width: 210px;
  height: 250px;
  background: url(https://vignette3.wikia.nocookie.net/zimwiki/images/d/d2/Gir_dogsuit.png/revision/latest?cb=20160731215834) no-repeat;
}

.br5{
  border-radius: 5px;
}
.core-shadow{
  box-shadow: 2px 2px 9px 3px rgba(0,0,0,.2)
}
.core-dark {
  background: #2C2F34;
}
.signin-imGir {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.lightest-dark {
    background: #212121;

}

.login-input{
  height: 32px;
  width: 320px;
  color: grey;
  background-color: #191919;
  outline: 0;
  border: 1px solid transparent;
  font-size:.9em;
  letter-spacing: .02em;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-input:focus{
  border: 2px solid #1bb76e;
}

::selection{
  background-color: #1bb76e;
  color: white;
}


.submit-button {
    padding:10px 20px;
    background: #5c69ff;
    color: #F2F2F2;
    font-size: 14px;
    border:0 none;
    cursor:pointer;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.right {
  float: right;
}
.submit-button:hover{

}

.signin-register-link {
  line-height: 37px;
  margin-right: 15px;
}
.signin-register-link a{
  color: white;
  text-decoration: none;

}
#back-zimngir a{
  color: white;
  text-decoration: none;

}

.text-shadow {
    text-shadow: 1px 1px 0 rgba(0,0,0,.8);
}

.password {
  color: #999;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
}
.forgot-password {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background: #404040;
}

.fade-break {
  background: url(//imgur.com/images/access/fading-section-break.png) no-repeat;
  margin-right: 3px;
  margin-left: 7px;
  opacity: .7;
  width: 129px;
  height: 3px;
  display: inline-block;
}

.fade-break-flip {
  margin: 0 0 2px 3px;
  -webkit-transform: rotate(180deg) translate(0,2px);
  -ms-transform: rotate(180deg) translate(0,2px);
  transform: rotate(180deg) translate(0,2px);
}

.text-center {
  text-align: center;
}
.inline{
  display: inline-block;
}

#back-zimngir {
  display: flex;
  font-size: 13px;
  line-height: 28px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  position: fixed;
  margin: 20px;
  z-index: 10;
  height: 30px;
  padding-left: 15px;
  cursor: pointer;
}
#back-zimngir img{
  align-self: center;
  height: 70px;
  width: 75px;
}
